header,
aside,
article,
footer {
  padding: 1em;
}

body {
 	margin: 0 auto;
 	padding: 1em 0;
}

.grid > * {
 	display: flex;
 	align-items: center;
 	justify-content: center;
}

.grid {
 	display: grid;
 	grid-gap: 1em;
}

.container {
	grid-column: 1 / 3;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.container {
		max-width: 978px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) { 
	.container {
		max-width: 978px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) { 
	.container {
		max-width: 100%;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.container {
		max-width: 100%;
	}
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.container {
		max-width: 100%;
	}
}



/* Nav bar */
.navbar {
	width: 100%;
	text-align: center;
}

.logo {
	max-height: 85px;
}
