header,
aside,
article,
footer {
  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

body {
  margin: 0 auto;
  padding: 1em 0;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-gap: 1em;
}

.container {
	max-width: 56em;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) { }
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) { }
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) { }
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { }
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { }